body {
  background-color: #f0efef;
  color: #fff;
}

.App {
  text-align: center;
}

.title {
  color: black;
}

.taskBg {
  background-color: #ffffff;
  color: #222222;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: left;
  font-size: 25px;
  position: relative;
}

.taskBg .taskText {
  flex: 1;
}

.done .taskText {
  text-decoration: line-through;
  opacity: 0.5;
  color: red;
}

.taskBg .iconsWrap {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span{
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #10d9e0;
}

.taskBg .iconsWrap span:hover {
  color: red;
}
.mr-20 {
  margin-right: 10px;
  margin-left: -10px;
}
.check {
  margin-right: 5px;
}

.filterItem ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.filterItem ul button {
  background: #3d93b9;
  color: #fff;
  padding: 8px 46px;
  text-transform: uppercase;
  font-size: 17px;
  border: navajowhite;
  border-radius: 0.5rem;
}